.DadoContainer {
  width: var(--size-xl);
  height: var(--size-xl);
  margin: 0 auto;
  position: relative;
  perspective: var(--size-p);
}

.cube {
  /* transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg); */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube_1 {
  transform: translateY(var(--size-m)) rotateX(65deg) rotateY(5deg) rotateZ(65deg);
  -webkit-transform: translateY(var(--size-m)) rotateX(65deg) rotateY(5deg) rotateZ(65deg);
  -moz-transform: translateY(var(--size-m)) rotateX(65deg) rotateY(5deg) rotateZ(65deg);
  -ms-transform: translateY(var(--size-m)) rotateX(65deg) rotateY(5deg) rotateZ(65deg);
  -o-transform: translateY(var(--size-m)) rotateX(65deg) rotateY(5deg) rotateZ(65deg);
}

.cube_2 {
  transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg);
  -webkit-transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg);
  -moz-transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg);
  -ms-transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg);
  -o-transform: translateY(var(--size-m)) rotateX(60deg) rotateY(15deg) rotateZ(300deg);
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background: var(--color2);
  border: var(--color3) 2px solid;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.front {
  transform: translateZ(var(--size-l));
  -webkit-transform: translateZ(var(--size-l));
  -moz-transform: translateZ(var(--size-l));
  -ms-transform: translateZ(var(--size-l));
  -o-transform: translateZ(var(--size-l));
}

.back {
  transform: rotateY(180deg) translateZ(var(--size-l));
  -webkit-transform: rotateY(180deg) translateZ(var(--size-l));
  -moz-transform: rotateY(180deg) translateZ(var(--size-l));
  -ms-transform: rotateY(180deg) translateZ(var(--size-l));
  -o-transform: rotateY(180deg) translateZ(var(--size-l));
}

.left {
  transform: rotateY(-90deg) translateZ(var(--size-l));
  -webkit-transform: rotateY(-90deg) translateZ(var(--size-l));
  -moz-transform: rotateY(-90deg) translateZ(var(--size-l));
  -ms-transform: rotateY(-90deg) translateZ(var(--size-l));
  -o-transform: rotateY(-90deg) translateZ(var(--size-l));
}

.right {
  transform: rotateY(90deg) translateZ(var(--size-l));
  -webkit-transform: rotateY(90deg) translateZ(var(--size-l));
  -moz-transform: rotateY(90deg) translateZ(var(--size-l));
  -ms-transform: rotateY(90deg) translateZ(var(--size-l));
  -o-transform: rotateY(90deg) translateZ(var(--size-l));
}

.top {
  transform: rotateX(90deg) translateZ(var(--size-l));
  -webkit-transform: rotateX(90deg) translateZ(var(--size-l));
  -moz-transform: rotateX(90deg) translateZ(var(--size-l));
  -ms-transform: rotateX(90deg) translateZ(var(--size-l));
  -o-transform: rotateX(90deg) translateZ(var(--size-l));
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--size-l));
  -webkit-transform: rotateX(-90deg) translateZ(var(--size-l));
  -moz-transform: rotateX(-90deg) translateZ(var(--size-l));
  -ms-transform: rotateX(-90deg) translateZ(var(--size-l));
  -o-transform: rotateX(-90deg) translateZ(var(--size-l));
}

.inside {
  display: grid;
  grid-template-columns: repeat(3, var(--size-s));
  grid-template-rows: repeat(3, var(--size-s));
}

.dot {
  height: var(--size-xs);
  width: var(--size-xs);
  background-color: var(--color1);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.front .inside .dot {
  grid-row: 2;
  grid-column: 2;
}

.back .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.back .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.back .inside .dot:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.back .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}

.back .inside .dot:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
}

.back .inside .dot:nth-child(6) {
  grid-row: 3;
  grid-column: 3;
}

.left .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 3;
}

.left .inside .dot:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.left .inside .dot:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.right .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.right .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}

.right .inside .dot:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.right .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 3;
}

.top .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.top .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}

.top .inside .dot:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}

.top .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}

.top .inside .dot:nth-child(5) {
  grid-row: 3;
  grid-column: 3;
}

.bottom .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 3;
}

.bottom .inside .dot:nth-child(2) {
  grid-row: 3;
  grid-column: 1;
}

