.pageDados {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.DadosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.dado {
  height: 100%;
  width: 100%;
}