.pageDados {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background: url('../../assets/JUGUEMOS.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.container-dados {
  width: 75%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.DadosContainer {
  height: 30%;
  padding: 2vw 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 40%;
}


.button-container {
  text-align: start;
}

.button-container > strong {
  color: var(--color2);
}