.pageDados {
  height: 50%;
  width: 100vw;
  background: url('../../assets/JUGUEMOS.png');
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.DadosContainer {
  padding: 2vw 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.button-container {
  text-align: start;
}

.button-container > strong {
  color: var(--color2);
}