/* .page {
  justify-content: space-around;
}

.container-ganaste {
  height: 60%;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.Ganaste-division {
  width: 100%;
  display: flex;
  justify-content: end;
}

h1 {
  width: 100%;
}

h3 {
  width: 50%;
} */

.fondo-Ganaste {
  height: 100vh;
  width: 100%;
  background: #00a9fe;
  background-image: url('../../assets/GANASTE.png');
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
  background-size: contain;
}