.fondo-portada {
  height: 100vh;
  width: 100%;
  background: #00a9fe;
  background-image: url('../../assets/PORTADA.png');
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
  background-size: contain;
}